body{
	font-family:'Arial','Helvetica Neue',Helvetica, sans-serif;
	background-image: url("../images/dark_embroidery.png"); 
}

#header{
	margin-left: 0;
	margin-bottom: 130px;
	background-color: #ffffff;
	height: 65px; 
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #cccccc;
	position: fixed;
	width:100%;
	z-index: 500;
	top: 0;
}

.headings{
	font-family: Georgia,"Times New Roman",Times, serif;
	font-weight: bold;
	color: #4aaaa5;
}

#header .inner-header{
	width: 950px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left:auto;
	position: relative;
}

.myName{
	display: block;
	float: left;
	background-color: #4aaaa5;
	height: 66px;
	width: 300px;
	margin-left: -225px;
	color: white;
	font-size: 30px;
	text-align: center;
	line-height: 2.2;
}

#topMenu{
	float:right;
	margin-top: -6px;
}

#topMenu .mainMenu{
	margin: 0;
	margin-bottom: 0;
	list-style: none;
}

#topMenu .mainMenu li{
	float: left;
	margin-right: 0;
	padding-bottom: 11px;
	letter-spacing: 1px;
}

#topMenu .mainMenu li a{
	display: block;
	border-right: solid #777777 1px;
	font-weight: bold;
	font-family: Arial;
	font-size: 15px;
	color: #777777;
	padding: 24px 20px 22px 0;
	margin-right:20px;
	margin-top: 0px;
	text-decoration: none;
}

.main-menu-container{
	height: 64px;
}

#topMenu .mainMenu li a:hover{
	border-bottom: 0;
	color: #333 !important;
}

#topMenu .mainMenu li a.active{
	color:#999 !important;
}

#topMenu .mainMenu li.current_page_item a{
	color: #4aaaa5 !important;
}
#wrapper{
	margin: 0;
	padding-left: 10px;
	overflow: hidden;
	width: 960px;
	padding-right: 10px;
}

#content-container{
	float: left;
	padding-left: 0;
	overflow: hidden;
	width: 960px;
	margin-top: 40px;
}

#content{
	width: 960px;
	padding-top: 90px;
	float:left;
}

.connectHeader{
	border-bottom: solid #dddddd 1px;
	font-size: 35px;

}
.connectSidebar{
	display: inline-block;
	width: 270px;
	background-color: #ffffff;

}
#linkImgs{
	
}
#socialMenu{

}


